
/* Reset default styling (http://meyerweb.com/eric/tools/css/reset/)  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	}

ol, ul {list-style: none;}

table {border-collapse: collapse; border-spacing: 0;}

/* Styles */

body {
	margin: 0;
	padding: 0;
	border-top: 6px solid #257287;
	background:
	 url(/images/bg-body-left.png) top left repeat-y,
	 url(/images/bg-body-right.png) top right repeat-y;
	color: #454545;
	font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	line-height: 160%;
	}

a:link, a:visited {color: #428eb8; text-decoration: none;}
a:hover {border-bottom: 1px solid #a0c6db;}

p {margin: 0 0 12px;}

.wrap {width: 940px; margin: 0 auto; padding: 0 10px;}

.intro p {
  padding: 0 80px 29px;
  color: #257287;
	font-family: "ff-tisa-web-pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 22px;
  line-height: 160%;
  }
.intro strong {font-weight: normal;}
.intro img {margin: 0 80px 59px;}
.intro .intro-video {
  width: 780px;
  margin: 0 80px 38px;
  background: url(/images/denver-images.jpg) no-repeat;
  }
.intro .video {margin: 0 190px;}
.intro .header {float: left; width: 100%;}
.intro .logo {float: left;}
.intro .logo img {width: 340px; margin: 43px 0 3px;}
.intro .tagline {
  display: inline;
  float: left;
  clear: left;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  color: #a39c87;
  margin-bottom: 38px;
  }
.intro .nav {
  float: right;
  margin: -41px 0 0;
  font-weight: 600;
  font-size: 15px;
  }
.intro .nav li {display: inline; margin-left: 10px;}
.intro .nav a {
  padding: 6px 10px;
  background: #b5d8e6;
  border-radius: 4px;
  color: #fff;
  }
.intro .nav a:hover {
  background: #cae2ec;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  }
.intro .nav .apply a {background: #f7901e;}
.intro .nav .apply a:hover {background: #f9a442;}

h2 {margin: 0 0 .5em; font-size: 20px;}

.section {float: left; width: 100%;}
.section.left {background: url(/images/marker-line-left.png) center 17px no-repeat;}
.section.right {background: url(/images/marker-line-right.png) center 17px no-repeat;}
.section.both {background: url(/images/marker-line.png) center 70px no-repeat;}
.section.five.left {background-position-y: 149px;}
.section.eleven.left {background-position-y: 185px;}

.one {margin-top: 7px;}
.one .wrap div {
  float: left;
  width: 380px;
  margin-left: 94px;
  padding: 0 320px 52px 66px;
  background:
    url(/images/marker-one.png) 0 0 no-repeat,
    url(/images/illustration-one.png) right 25px no-repeat;
  background-color: #fff;
  }

.two .wrap div {
  float: right;
  width: 380px;
  margin-right: 94px;
  padding: 0 66px 45px 400px;
  background:
    url(/images/marker-two.png) 780px 0 no-repeat,
    url(/images/illustration-two.png) 5px 25px no-repeat;
  background-color: #fff;
  }

.then-what {
  background:
    url(/images/bg-blue-left.png) top left repeat-y,
    url(/images/bg-blue-right.png) top right repeat-y,
    url(/images/bg-blue.jpg) top center no-repeat;
  background-color: #257287;
  color: #c4e1ec;
  }
.then-what img {float: left; margin: -94px 0 -44px 308px;}
.then-what h2 {padding-top: 5px; color: #fff;}
.then-what .wrap {width: 820px;}
.then-what .wrap div {
  float: left;
  width: 300px;
  margin: 30px 0 0 20px;
  padding: 0 0 28px 80px;
  }
.then-what .three {background: url(/images/marker-three.png) 13px 0 no-repeat;}
.then-what .four {background: url(/images/marker-four.png) 13px 0 no-repeat;}

.five .wrap div {
  width: 460px;
  margin: 67px 0 0 174px;
  padding-left: 66px;
  background: #fff url(/images/marker-five.png) 0 65px no-repeat;
  }
.five h2 {text-align: center;}

#how .wrap {margin-top: 53px;}

.six {
  float: left;
  width: 370px;
  margin: 0 0 0 13px;
  padding: 0 30px 0 67px;
  background: #fff url(/images/marker-six.png) 0 0 no-repeat;
  }
.six p {
  padding-bottom: 100px;
  background: url(/images/price.png) bottom center no-repeat;
  }

.seven {
  float: right;
  width: 380px;
  margin: 0 13px 0 0;
  padding-right: 67px;
  background: #fff url(/images/marker-seven.png) right 0 no-repeat;
  }
.seven ul {
  list-style: none;
  float: left;
  width: 310px;
  height: 158px;
  margin: -58px 0 2px -26px;
  padding: 72px 40px 0 30px;
  background: url(/images/bg-ul-application.png) top left no-repeat;
  }
.seven ul li {
  margin-bottom: 1px;
  padding-left: 30px;
  }

.eight {
  float: left;
  clear: both;
  width: 620px;
  margin: 0 0 40px 93px;
  padding: 0 160px 0 67px;
  background: #fff url(/images/marker-eight.png) 0 0 no-repeat;
  }

.when-where {
  position: relative;
  margin: 0 0 58px;
  background:
    url(/images/bg-beige-left.png) top left repeat-y,
    url(/images/bg-beige-right.png) top right repeat-y,
    url(/images/bg-beige-center.jpg) top center no-repeat,
    url(/images/bg-beige.png) top center repeat-y;
  color: #5f554e;
  }
.when-where h2 {
  margin: 30px 0;
  color: #5f554e;
  text-align: center;
  }
.when-where h2 .when {
  padding: 6px 0 6px 70px;
  background: url(/images/marker-nine.png) top left no-repeat;
  }
.when-where h2 .where {
  padding: 6px 70px 6px 0;
  background: url(/images/marker-ten.png) top right no-repeat;
  }
.when-where h2 em {
  padding: 0 20px 0 15px;
  color: #f7901e;
	font-family: "ff-tisa-web-pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 50px;
  font-style: italic;
  font-weight: 100;
  vertical-align: sub;
  }
.when-where .nine {float: left; width: 470px;}
.when-where .ten {float: right; width: 470px;}
.when-where .address {
  width: 210px;
  height: 86px;
  padding: 20px 0 0 20px;
  float: right;
  background: url(/images/circled.png) no-repeat;
  }
.when-where .address strong {color: #257287;}
.when-where img {margin: -70px 0 -20px -25px;}
.when-where .ten p {padding-left: 40px;}

.timeline {
  position: absolute;
  width: 470px;
  padding-top: 30px;
  top: 0;
  bottom: 0;
  background: url(/images/timeline.png) top center repeat-y;
  }
.timeline li {margin-bottom: 15px;}
.timeline strong {
  color: #fff;
  padding: 3px 8px;
  background: rgba(155, 27, 27, .5);
  border-radius: 3px;
  font-weight: 600;
  }
.timeline span {display: block; padding-top: 4px;}
.timeline .left {
  margin-right: 219px;
  padding-right: 44px;
  background: url(/images/timeline-marker-left.png) right 0 no-repeat;
  text-align: right;
  }
.timeline .right {
  margin-left: 229px;
  padding-left: 44px;
  background: url(/images/timeline-marker-right.png) left 0 no-repeat;
  }
.timeline .late-oct {
  margin-top: -33px;
  padding-top: 33px;
  background: url(/images/timeline-marker-lateoct.png) right 0 no-repeat;
  }
.timeline .dec {
  margin-top: -33px;
  padding-top: 33px;
  background: url(/images/timeline-marker-dec.png) left 0 no-repeat;
  }
.timeline .jan {margin-top: -20px;}
.timeline .nov {margin-top: -65px;}
.timeline .may {margin-top: 55px;}
.timeline .june {margin-top: 10px;}

.eleven {margin-bottom: 60px;}
.eleven .marker {
  float: left;
  margin-left: 93px;
  padding-left: 67px;
  background: #fff url(/images/marker-eleven.png) 0 167px no-repeat;
  }
.eleven .instructor {
  float: left;
  clear: left;
  width: 620px;
  padding: 20px 0 0 0;
  background: #fff;
  }
.eleven h2 {text-align: center;}
.eleven .border {
  float: left;
  margin: -20px 30px 20px 0;
  padding: 3px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 124px;
  }
.eleven .border img {
  float: left;
  background: #fff;
  border-radius: 130px;
  }

.btn {
  clear: both;
  float: left;
  padding: 2px;
  margin: 40px 0 0 379px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #f7901e;
  display: block;
  text-align: center;
  }
.btn a {
  float: left;
  padding: 8px 40px 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fff;
  background: #f7901e;
  color: #fff;
	font-family: "ff-tisa-web-pro", "Helvetica Neue", Arial, sans-serif;
	font-size: 20px;
  }
.btn a:hover, .btn:hover {background: #f8ac14;}

#footer {
  float: left;
  width: 100%;
  padding: 40px 0 80px;
  background: #257287;
  color: #99c1c2;
  font-size: 14px;
  }
#footer p {float: left; margin: 0;}
#footer a {color: #c8e7ef; border-color: #c8e7ef;}
#footer ul {float: right;}
#footer li {display: inline; float: left; margin-left: 15px;}
#footer li a {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -99999px;
  border: none;
  opacity: .5;
  }
#footer li a:hover {opacity: 1;}
#footer .twitter a {background: url(/images/icon-twitter.png) no-repeat;}
#footer .fb a {background: url(/images/icon-facebook.png) no-repeat;}
#footer .google a {background: url(/images/icon-google.png) no-repeat;}

/* Use media queries to move nav to the side on screens big enough */

@media only screen and (min-width: 1200px) {
  .intro .nav {
    position: fixed;
    top: 5px;
    right: 60px;
    margin-top: 46px;
    text-align: right;
    font-size: 16px;
    z-index: 100;
    }
  .intro .nav li {display: block; margin-bottom: 20px;}
  .intro .nav li a {display: block; text-align: center;}
  .intro .logo {float: none;}
  .intro .logo img {
    display: block;
    width: 340px;
    margin: 43px auto 10px;
    }
  .intro .tagline {
    float: none;
    display: block;
    text-align: center;
    }
  }

/* Print styles */

@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
    }
  body {
    margin: 0 10%;
    border: none;
    font-family: "Times New Roman", serif !important;
    }
  html {padding: 3% 0;}
  p, h2, h3 {orphans: 3; widows: 3;}
  p, ul {
    font-size: 12pt;
    line-height: 15pt;
    margin: 0 0 10pt !important;
    padding: 0 !important;
    }
  ul {
    list-style: disc !important;
    position: relative !important;
    width: 100%;
    height: auto !important;
    padding: 0 !important;

    }
  li {
    float: none !important;
    position: relative;
    margin: 0 0 6pt 2% !important;
    padding: 0 !important;
    text-align: left !important;
    }
  h2, h3 {
    font-size: 16pt;
    margin: 10pt 0 10pt !important;
    padding: 0;
    page-break-after: avoid;
    font-family: "Helvetica Neue", sans-serif !important;
    text-align: left !important;
    }
  h2 {font-size: 12pt;}
  h2 span {margin: 0 !important; padding: 0 !important;}
  div {
    position: relative !important;
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-position: 0 0 !important;
    }
  img, .nav, iframe, .video, .intro-video, .btn, #footer, #footer p {display: none !important;}
  .logo img {
    display: block !important;
    margin: 0 auto;
    text-align: center;
    }
  .tagline {text-align: center; margin: 0 0 25pt !important;}
  .intro p {
    font-family: "Times New Roman", serif;
    padding: 0 0 15pt !important;
    font-size: 15pt;
    line-height: 20pt;
    }
  .when-where h2 em {
    font-size: inherit !important;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif !important;
    font-style: normal;
    font-weight: normal;
    vertical-align: baseline;
    }
  .instructor .border {border: none;}
  }